.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container input {
    margin-top: 20px;
    padding: 5px;
}

.card {
    border: 1px solid black;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    border-radius: 10px;
    margin-top: 20px;    
}

.card__title h3 {
    color: #FFF;
}

.card__body {
    background-color: #616161;
    width: 90%;
    height: 65%;
    display: flex;
}

.card__body img {
    
}

.card__stats {    
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;    
    width: 90%;
    
}

.card__stats__type {
    background-color: coral;
    color: #000;
    font-weight: bold;
    padding: 5px;  
    border-radius: 5px;    
    width: 25%; 
    text-align: center; 
}